body {
	background: #2c3e50;
	margin: 0;
	font-family: "Open Sans";
	color: white;
	overflow: hidden;
}

#soundList {
	width: calc(100vw - 400px);
	height: 100vh;
	float: left;
}

#search {
	width: 100%;
	height: 60px;
	background: #70318B;
	position: relative;
}

#searchInput {
	border: 0;
	background: none;
	font-family: inherit;
	color: white;
	box-shadow: none;
	font-size: 20px;
	padding: 14px 10px;
	padding-top: 16px;
	padding-left: 65px;
	margin: 0;
	display: block;
	width: calc(100% - 130px);
}

#searchInput:focus {
	outline: 0;
	border: 0;
}

#search div {
	position: absolute;
	top: 10px;
	font-size: 28px;
	opacity: .8;
	cursor: pointer;
	transition: opacity .2s;
}

#search div:hover {
	opacity: 1;
}

#search div:first-child {
	left: 20px;
	top: 17px;
}

#search div:last-child {
	right: 20px;
	top: 15px;
}

#soundUl h4 {
	text-align: center;
	font-size: 30px;
	margin: 0;
	padding: 0;
	opacity: .5;
	margin-top: 20vh;
	font-weight: lighter;
}

#soundUl {
	list-style: none;
	padding: 0;
	margin: 0;
	background: #24313D;
	overflow-y: scroll;
	height: calc(100vh - 60px);
}

#soundUl li {
	padding: 0;
	margin: 0;
	height: 100px;
	position: relative;
	background: #293847;
	cursor: pointer;
}

#soundUl li:nth-child(odd) {
	background: none;
}

#soundUl li span {
	display: block;
	margin-top: -93px;
	margin-left: 225px;
	font-size: 27px;
	font-weight: lighter;
	height: 40px;
	overflow: hidden;
	padding-right: 115px;
}

#soundUl li * {
	pointer-events: none;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#soundUl li small {
	margin-left: 225px;
	font-size: 20px;
	font-weight: lighter;
	opacity: .3;
	display: inline-block;
}

#soundUl li div {
	position: absolute;
	font-weight: lighter;
	width: 120px;
	right: 20px;
	top: 35px;
	text-align: right;
}

#player {
	float: right;
	width: 400px;
	height: 100vh;
	background: #4A7898;
	position: relative;
}

#player > .playProgress {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	background: rgba(0, 0, 0, .05);
	transition: width .1s linear;
}

#playing {
	height: 60px;
	background: #3C6581;
	position: relative;
}

#playing > .playProgress {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	background: rgba(0, 0, 0, .1);
	transition: width .1s linear;
}

#playIcon, #playReplay {
	cursor: pointer;
	font-size: 25px;
	position: absolute;
	top: 18px;
	opacity: .8;
}

#playIcon {
	left: 16px;
}

#playReplay {
	right: 16px;
}

#playing > div:nth-child(3) {
	position: absolute;
	top: 14px;
	left: 50px;
	width: 275px;
	height: 30px;
	padding: 0px 10px;
	font-weight: lighter;
}

#playing > div:nth-child(3) > div:first-child {
	float: left;
}

#playing > div:nth-child(3) > div:nth-child(2) {
	float: right;
}

#playBar {
	height: 5px;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	background: rgba(127, 250, 243, .1);
}

#playBar > div {
	height: 100%;
	width: 0%;
	background: rgba(28, 37, 54, .45);
	transition: width .1s linear;
}

#buttons {
	padding-top: 25px;
}

#buttons > div {
	text-align: center;
}

#buttons > div > div {
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
	height: 70px;
	width: 80px;
	padding-top: 15px;
	display: inline-block;
	text-align: center;
	margin: 15px;
	background: #335C79;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	border-radius: 7px;
	transition: height .1s, margin .1s, box-shadow .3s;
}

#buttons > div > div:active, #buttons > div > div.active {
	height: 65px;
	margin-top: 20px;
}

#buttons > div > div * {
	pointer-events: none;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#buttons > div > div img {
	position: absolute;
	top: 0;
	height: 85px;
	left: -40px;
	z-index: 0;
	filter: blur(1px) saturate(.8) brightness(.8);
}

#buttons > div > div span {
	display: block;
	position: absolute;
	text-align: center;
	width: 100%;
	font-size: 34px;
	text-shadow: 0px 0px 7px #000;
}

#buttons > div > div:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 10px;
	background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAAKCAYAAAAjBNk8AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AEXEQ8yeJVzvAAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAABcSURBVEjH7dSxDYAwDADBx2KFFNnBBUuwf8MOrEFDJCiQwC3/jaWUJzsAHavWA0gdymUMSS2+bx/AAEygafK6Ni53vjwu59yAXaPHrbt9eROw6lIvJBBQQAF/3AEm6APHSkZFVAAAAABJRU5ErkJggg==');
	display: block;
	width: 100%;
	transition: height .1s;
}

#buttons > div > div:active:after, #buttons > div > div.active:after {
	height: 0px;
}

#footer {
	height: 27px;
	padding-top: 3px;
	text-align: center;
	background: rgba(0, 0, 0, .2);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	opacity: .55;
}

#footer a {
	color: #BFBFBF;
	text-decoration: none;
}

#picking {
	position: absolute;
	height: calc(100% - 550px);
	width: 100%;
	padding-top: 550px;
	top: 0;
	left: 0;
	background: rgba(28,38,45,.81);
	z-index: 1;
	font-weight: lighter;
	font-size: 24px;
	display: none;
	opacity: 0;
	transition: opacity .3s;
}

#auth {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 1;
	background: rgba(24, 29, 33, .7);
	z-index: 100;
	transition: opacity .5s;
}

#auth > div {
	background: #3C546C;
	width: 600px;
	height: 200px;
	border-radius: 8px;
	margin: auto;
	margin-top: 20vh;
	transition: margin .5s;
}

#auth > div > div:first-child {
	font-size: 100px;
	float: left;
	font-size: 160px;
	margin-top: 20px;
	margin-left: 40px;
	opacity: .8;
}

#auth > div > h4 {
	font-weight: lighter;
	text-align: center;
	margin: 0;
	padding-top: 30px;
	font-size: 24px;
}

#auth > div > input {
	border: 0;
	color: inherit;
	font-family: inherit;
	background: #203244;
	box-shadow: none;
	display: block;
	width: calc(100% - 240px);
	padding: 10px 20px;
	margin-left: 170px;
	margin-left: 172px;
	margin-top: 30px;
	font-size: 20px;
}

#fullScreen {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 20000;
	background: #2c3e50;
	opacity: 1;
	transition: opacity .2s, background .1s;
}

#fullScreenText {
	text-align: center;
	font-size: 60px;
	font-weight: lighter;
	margin-top: 20vh;
}

@media screen and (max-width: 1300px) {
	#soundList {
		width: 100%;
	}

	#player {
		visibility: hidden;
	}

	#buttons {
		display: none;
	}

	#playing {
		position: fixed;
		left: 0px;
		width: 100%;
		bottom: 0px;
		visibility: initial;
	}

	#playing > div:nth-child(3) {
		width: 80%;
		padding: 0px;
		left: 10%;
	}
}

@media screen and (max-width: 900px) {
	#soundUl li div {
		display: none;
	}

	#soundUl li span {
		padding-right: 10px;
	}
}

@media screen and (max-width: 700px) {
	#soundUl li {
		margin-top: -12px;
	}

	#soundUl li img {
		display: none;
	}

	#soundUl li span {
		margin-top: 10px;
		margin-left: 20px;
		padding-top: 15px;
	}

	#soundUl li small {
		margin-left: 20px;
	}
}
